{% extends "base.html" %}

{% block body %}
    <div class="card border-0">
        <div class="card-body">
            <h2 class="fw-light d-flex justify-content-center">Web Service</h2>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-outline-dark btn-lg m-2" href="{{ url_for('home.home') }}">homepage</a>
                <a class="btn btn-outline-dark btn-lg mt-5" href="https://github.com/masi2k203">GitHub</a>
            </div>
            
        </div>
    </div>
{% endblock %}