{% extends "base.html" %}

{% block body %}
<h2 class="fw-light d-flex justify-content-center my-4">リンク集</h2>
<div class="alert alert-danger" role="alert">
    このページは未完成です。現在稼働中のリンク集は<a href="https://link.mas2k-dev.net/" class="alert-link">こちら</a>
</div>
<div class="card border-0 my-4">
    <div class="card-body">
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-outline-dark btn-lg m-2" href="{{ url_for('home.home') }}">ホームページ</a>
            <a class="btn btn-outline-dark btn-lg m-2" href="https://github.com/masi2k203">GitHub</a>
            <a class="btn btn-outline-dark btn-lg m-2" href="https://bsky.app/profile/bsky.shima-aki.net">Bluesky</a>
        </div>

    </div>
</div>
{% endblock %}