<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary opacity-75">
    <div class="container-fluid">
        <a class="navbar-brand fs-3" href="{{ url_for('home.home') }}">しま場</a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item p-1">
            <a class="nav-link active" href="{{ url_for('home.home') }}">ホーム</a>
          </li>
          <li class="nav-item p-1">
            <a class="nav-link active" href="{{ url_for('link.link') }}">リンク</a>
          </li>
          <li class="nav-item p-1">
            <a class="nav-link active" href="{{ url_for('miniblog.miniblog') }}">ミニブログ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>